<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>982868814057-0g2ipjnijp6ucckfiitkimidmnrauoss.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.982868814057-0g2ipjnijp6ucckfiitkimidmnrauoss</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>982868814057-r48b813jqiel8s2qvn1ie4fqjpofvs73.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAebYv-WGkUsxq3ZfJlmFKwnsosa9e4Nxk</string>
	<key>GCM_SENDER_ID</key>
	<string>982868814057</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ysshin.cpaquiz</string>
	<key>PROJECT_ID</key>
	<string>cpa-quiz</string>
	<key>STORAGE_BUCKET</key>
	<string>cpa-quiz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:982868814057:ios:458fedd77396097290e878</string>
</dict>
</plist>